@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('https://raw.githubusercontent.com/RandomMaerks/Overused-Grotesk/master/fonts/variable/OverusedGroteskRoman-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #05070B;
  background: var(--foreground);
  font-family: 'DM Sans', 'Overused Grotesk', Arial, Helvetica, sans-serif;
}
